<!DOCTYPE html>
<html>
<head>
  <title><%= app.name %></title>
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
  <div id="map" class="map">
  </div>
  <div class="control-menu">
    <a class="button" id="c-button-menu">
      <span class="qlabel" its-ta-ident-ref="http://www.wikidata.org/entity/Q846925">Menu</span>
    </a>
  </div>
  <div class="control-panel" id="c-panel-menu">
    <div class="tabs is-small">
      <ul>
        <li class="c-panel-tab is-active">
          <a c-target="#c-panel-content-query">
            <span class="qlabel" its-ta-ident-ref="http://www.wikidata.org/entity/Q7385">Query</span>
          </a>
        </li>
        <li class="c-panel-tab">
          <a c-target="#c-panel-content-setting">
            <span class="qlabel" its-ta-ident-ref="http://www.wikidata.org/entity/Q351657">Setting</span>
          </a>
        </li>
        <li>
          <a id="c-button-menu-close">
            <span class="qlabel" its-ta-ident-ref="http://www.wikidata.org/entity/Q420328">Close</span>
          </a>
        </li>
      </ul>
    </div>
    <div id="c-panel-content-query" class="c-panel-content content">
      <% _.forEach(query_files, function (query_file) { %>
        <div class="media">
          <div class="media-left">
            <figure class="image is-16x16">
              <i class="fa fa-file-text"></i>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-6"><a c-query-filepath="<%= query_path + query_file %>"><%= query_file %></a></p>
          </div>
        </div>
      <% }); %>
    </div>
    <div id="c-panel-content-setting" class="c-panel-content content">
      <div class="field">
        <label class="label"><span class="qlabel" its-ta-ident-ref="http://www.wikidata.org/entity/Q12134540">Language</span></label>
        <div class="control">
          <div class="select">
            <select id="c-language-selector">
              <% _.forEach(languages, function (lang) { %>
                <option value="<%= lang.code %>"><%= lang.name %></option>
              <% }); %>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="notif-holder" id="c-notif-holder"></div>
  <script src="js/app.js"></script>
</body>
</html>
